/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";

/* основной цветной цвет */
$c-base: #679d02;
$c-base-h: #5e8f02;
$c-base-a: #548002;

/* отключённый элемент основного цвета */
$c-base-disabled: #ebebeb;
/*$c-base-disabled-h: #dbdbdb;*/
/*$c-base-disabled-a: #ccc;*/

/* чуть ярче основного */
$c-base-slighly: #76ae02;
$c-base-slighly-h: #6b9e02;
$c-base-slighly-a: #618f02;

/* подсвеченный */
$c-base-light: #86c21a;
$c-base-light-h: #74a817;
$c-base-light-a: #6a9915;

/* цвет, читаемый на фоне $c-base */
$c-base-invert: #f5f5f5;

$c-text: #333;
$c-light: #555;

/* цвета тикета */
$c-ticket-header: #efeeec;
$c-ticket: #f8f7f3;
$c-ticket-h: #f0efeb;
$c-ticket-a: #ebeae6;
$c-ticket-s: #e6e5e1;

$t-normal: 12px;
$t-mini: 11px;
$t-micro: 10px;

body {
  color: $c-text;
  font-family: "Helvetica Neue",Arial,Verdana,sans-serif;
}

.g-clear {
  clear: both;
}

@mixin header-text {
  color: $c-light;
  font-size: 15px;
  font-weight: bold;
}
@mixin subheader-text {
  color: $c-light;
  font-size: 14px;
  font-weight: bold;
}
@mixin info-text($color) {
  color: $color;
  font-size: $t-mini;
}
@mixin info-bold-text($color) {
  @include info-text($color);
  font-weight: bold;
}
