@import "global/screen";

.b-common-button {
  @include border-radius(2px);
  @include transition(background-color, 0.2s);
  background-color: $c-base;
  color: $c-base-invert;
  cursor: pointer;
  font-size: $t-micro;
  padding: 3px 8px 3px 14px;
  width: 90px;

  &:hover {
    background-color: $c-base-h;
  }
  &:active {
    background-color: $c-base-a;
  }
}
.odd .b-common-button {
  background-color: $c-base-slighly;
  &:hover {
    background-color: $c-base-slighly-h;
  }
  &:active {
    background-color: $c-base-slighly-a;
  }
}
