@import "global/screen";

.b-round-navigation {
  /*height: 45px;*/
  margin-left: 45px;
  margin-bottom: 31px;

  .step {
    float: left;
    position: relative;
    width: 95px;

    &>.index {
      @include border-radius(28px);
      @include transition(background-color, 0.2s);
      @include box-shadow(0 -1px 0.5px #ccc);
      background-color: $c-base-disabled;
      color: $c-light;
      display: block;
      font: bold 16px/30px "Helvetica Neue",Arial,Verdana,sans-serif;
      height: 28px;
      line-height: 28px;
      margin: 0 auto;
      text-align: center;
      width: 28px;
    }
    &>.text {
      @include transition(color, 0.2s);
      color: $c-light;
      display: block;
      font-size: 10px;
      margin-top: 4px;
      text-align: center;
    }
    &>.arrow {
      background-image: url('/assets/wizard-arrow.png');
      background-position: 0 -19px;
      height: 19px;
      margin-top: -42px;
      position: absolute;
      right: -12px;
      width: 24px;
    }
    &:last-child {
      .arrow {
        display: none;
      }
    }
  }
  .step.active {
    cursor: pointer;

    .index {
      @include box-shadow(0 -1px 0.5px #828282);
      background-color: $c-base-light;
      color: $c-base-invert;
    }
    .text {
      color: $c-base;
    }
    .arrow {
      background-position: 0 0;
    }
    &:hover {
      .index {
        background-color: $c-base-light-h;
      }
      .text {
        color: $c-base-h;
      }
    }
    &:active {
      .index {
        background-color: $c-base-light-a;
      }
      .text {
        color: $c-base-a;
      }
    }
  }
}
